// Font
$mainFont                : 'Roboto', sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$lgDesktopWidth          : 1400px;
$mdDesktopWidth          : 1250px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$primary-color           : #ec3633;
$secondary-color         : #394c58;
$tertiary-color          : #6f93a5;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$purple-color            : #8854d0;
$light-color             : #ffffff;
$dark-color              : #000000;

// Neutral Color
$neutral-primary         : #939393;
$neutral-regular         : #2f2f2f;
$neutral-secondary       : #dcdcdc;
$neutral-placeholder     : #c5c5c5;

