.footer {
  background-color: rgb(38, 39, 44);
  color: #FFF;
  padding: 10px 0;
  text-align: center;

  &__logo {
    max-width: 100px;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    a {
      padding: 5px 12px;
      font-size: 15px;
    }
    svg {
      font-size: 21px;
    }
  }
}
