.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;

  &__top-menu-logo-img {
    max-width: 100px;
    margin: 0;
  }
  &__top-menu-logo {
    flex: 1 1 15%;
  }

  &__top-menu-nav {
    flex: 1 1 70%;
    display: flex;
    justify-content: flex-start;
  }
  &__top-menu-phone {
    flex: 1 1 15%;
    min-width: 160px;
    display: flex;
    justify-content: flex-end;
  }
  &__top-menu {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
