.main {
  min-height: calc(100vh - 117px - 96px);
}


.card {
  width: 100%;

  &__img {
    width: 100%;
    max-height: 210px;
    object-fit: cover;
  }
  &__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.65rem;
      color: $light-color;
      text-align: center;
      line-height: 1.5;
      padding: 0 10px;
      background-color: rgba(0, 0, 0, 0.45);
    }
  }
  &:hover .ant-card-meta-title {
    color: $secondary-color;
  }
  .ant-card-cover {
    position: relative;
  }
  .ant-card-cover::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.5);
    transition: background-color 300ms ease-in;
  }
  &:hover .ant-card-cover::before {
    background-color: transparent;
  }
}
.big-number {
  color: $tertiary-color;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
}
.development-cards .ant-card-meta-title {
  text-transform: uppercase;
  color: $danger-color;
  font-weight: 400;
  font-size: 18px;
}
.development-cards__img {
  height: 300px;
}

